{% extends 'base.html.twig' %}

{% block title %}Creer nouvelle article{% endblock %}

{% block body %}

    <div class="container mt-4">
        <h2>Creer un nouvel article</h2>
        {{ form(form) }}
    </div>

{% endblock %}