{% extends 'base.html.twig' %}

{% block title %} Les articles {% endblock %}

{% block body %}

    <div class="container mt-4">
        <h4>Modifier l'article : {{ article.name}} </h4>
        <a href="{{ path("articles.read") }}">revenir a la liste des articles </a>
        <div class="article_image">
            <img src="{{ vich_uploader_asset(article, 'imageFile') }}">
        </div>
        {{ form(form) }}
    </div>
{% endblock %}