{% extends "base.html.twig" %}

{% block title %}
    Home -  WetheOld
{% endblock %}

{% block body %}

    <h1>Home</h1>
    <h4>Bienvenue sur wetheold </h4>
    <div class="container mt-4">
        {% for article in articles %}
            {% if article.ImageName != null %}
                <div>
                    <a href="">
                        <img style="width: 300px; height: 300px"  src="{{ vich_uploader_asset(articles[0], 'imageFile') }}">
                        <h6>{{ article.name }}</h6>
                        <p>{{ article.prix }}</p>
                    </a>
                </div>
            {% endif %}

        {% endfor %}
    </div>

{% endblock %}
