{% extends "base.html.twig" %}

{% block title  %}
    wetheold - Inscription
{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="mb-4"> créer un compte </h2>
        {{form(form)}}
    </div>
{% endblock %}
